@media screen and (max-width: 560px) {
  * {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
  }

  body,
  html {
    overflow-x: hidden;
  }
  .navbar-toggler {
    display: none;
  }
  .home {
    height: 615px;
  }
  .home img {
    width: 150px;
    margin-right: 10%;
    height: auto;
    border-radius: 20px;
    margin-top: 20%;
  }
  .box-kosong-2 {
    margin-top: 18%;
    width: 150px;
    height: 200px;
    float: right;
    border-radius: 20px;
    background-color: rgb(105, 111, 116);
  }
  .sub-headerh4 h4 {
    margin-top: 35%;
    font-size: 11px;
  }
  .header h1 {
    font-size: 20px;
  }
  .sub-headerP {
    font-size: 11px;
    width: 200px;
  }
  .btn {
    display: none;
  }
  .box-kosong {
    margin-top: 40%;
    width: 180px;
    height: 180px;
    margin-right: 8px;
    float: right;
    /* display: none; */
  }
  .box-kosong img {
    width: 170px;
    height: 210px;
    margin-right: 10px;
    float: right;
    margin-top: 5%;
    /* display: none; */
  }
  .textAbout {
    /* color: l; */
    margin-top: -65%;
    float: left;
    margin-left: 5%;
  }
  .textAbout p {
    width: 350px;
    margin-top: 10%;
  }
  .span-cut {
    background-color: transparent;
    width: 190px;
  }

  /* keahlian */
  .containerKeahlian {
    height: 1900px;
  }
  /* skil */
  .headertext h1 {
    margin-top: -45%;
  }
  .headertext p {
    width: 350px;
    margin: 0 auto;
  }
  .card {
    margin-top: 5%;
    margin-left: 0;
  }
  .card-list img .figma {
    margin-left: -100%;
  }
  /* image */
  .text-header h6 {
    width: 350px;
  }
  .image-list li img {
    width: 350px;
    border-radius: 20px;
  }
  .headerContact h6 {
    width: 350px;
  }
  .border {
    width: 350px;
  }
  .name,
  .Email,
  .password,
  .masukan,
  .inputan {
    width: 270px;
    margin: 0 auto;
  }
  footer {
    width: auto;
    padding: 10px;
  }
}
